<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description"
          content="Haven Hopper - Your gateway to unforgettable journeys. Discover and book dream destinations with ease.">
     <title>HavenHopper - Home</title>
     <link rel="stylesheet" href="/css/root.css">
</head>

<body>

     <!-- Navbar Section -->
     <section id="navbar">
          <%- include('includes/navbar.ejs') %>
     </section>

     <!-- Hero Section -->
     <section class="hero-section">
          <div>
               <h2>
                    Haven Hopper
               </h2>
          </div>
          <div>
               <h4>
                    Your gateway to unforgettable journeys, where dream destinations meet seamless booking for a travel
                    experience like no other.
               </h4>
          </div>
          <div>
               <a href="/listings">Explore Now</a>
          </div>
     </section>


     <!-- Footer Section -->
     <section id="footer" class="footer">
          <%- include('includes/footer.ejs') %>
     </section>
</body>

</html>